<div class="social-icons">
  <div class="social-icons-right">
    {% if site.github_username %}
      <a class="fa fa-github" target="_blank" href="https://github.com/{{ site.github_username }}"></a>
    {% endif %}
    {% if site.bitbucket_username %}
      <a class="fa fa-bitbucket" target="_blank" href="https://bitbucket.org/{{ site.bitbucket_username }}"></a>
    {% endif %}
    {% if site.stackoverflow_id %}
      <a class="fa fa-stack-overflow" target="_blank" href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}"></a>
    {% endif %}
    <a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>
    {% if site.twitter_username %}
      <a class="fa fa-twitter" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"></a>
    {% endif %}
    {% if site.google_plus_id %}
      <a class="fa fa-google-plus" target="_blank" href="https://plus.google.com/{{ site.google_plus_id }}/posts"></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a class="fa fa-linkedin" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"></a>
    {% endif %}
    {% if site.angellist_username %}
      <a class="fa fa-angellist" target="_blank" href="https://angel.co/{{ site.angellist_username }}"></a>
    {% endif %}
    {% if site.medium_id %}
      <a class="fa fa-medium" target="_blank" href="https://medium.com/{{ site.medium_id }}"></a>
    {% endif %}
    {% if site.bitcoin_url %}
      <a class="fa fa-bitcoin" target="_blank" href="{{ site.bitcoin_url }}"></a>
    {% endif %}
    {% if site.paypal_url %}
      <a class="fa fa-paypal" target="_blank" href="https://{{ site.paypal_url }}"></a>
    {% endif %}
    {% if site.flattr_button %}
      {{ site.flattr_button }}
    {% endif %}
    {% if site.instagram_username %}
      <a class="fa fa-instagram" target="_blank" href="https://instagram.com/{{ site.instagram_username }}"></a>
    {% endif %}
  </div>
</div>
<div class="clearfix"></div>
