
.post-link, .post-meta {
  text-align: right;
}

.post-image {
  display:block;
}

#imgContainer
{
    height: 200px;
    overflow: hidden;
}

.related-resize {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
}
